<!DOCTYPE html>
<html>
<head>
	<title>FireAway</title>
	<meta charset="UTF-8">

    <!-- fix for viewport scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- include bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">

    <!-- include stylesheets -->
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="../css/home_page.css" type="text/css">
    <link rel="stylesheet" href="../css/add_page.css" type="text/css">
</head>
<body>
	<div id="home-page" class="container">
		<div class="row shadow">
			<div class="main-page-title">
         	 	<h1>
            		<i aria-hidden="true"></i>
            			FireAway
            		<i aria-hidden="true"></i>
          		</h1>
        	</div>
        	<div class="container"> 
        		<span class="greeting"><h4>Welcome</h4></span>
          		<a href="../login.php"><button type="button" class="btn btn-danger logout">Logout</button></a>	
        	</div>	
		</div>
		<div>
			
		</div>	
	</div>
    <div class= "row page-content">
      <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
                <div class="col-xs-12 col-md-6 add-form">
                    <form method="post" action="">
                        <h2>
                        <i aria-hidden="true"></i>
                            Add Zone
                        <i aria-hidden="true"></i>
                        </h2>
                        <input type="text" name="name" placeholder="name"><br>
                        <select name="genre_select">
                            
                        </select><br>
                        <select name="genre_select">
                            
                        </select><br>
                        <input type="text" name="floor" placeholder="floor"><br>
                    </form>

                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

</body>
</html>
