<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Device List </title>

  </head>

  <body>

    <h1>The List of Buildings</h1>

    {% load static %}


    <div class="">

      <table border="1" class="table table-striped table-bordered table-hover table-condensed">

        <thead>

          <th> <b>Building ID</b> </th>
          <th> <b>Name</b> </th>
          <th> <b>latitude</b> </th>
          <th> <b>longitude</b>  </th>
          <th> <b>address</b> </th>
          <th> <b>email</b> </th>

          <!-- <th> <b>Image</b> </th> -->
        </thead>

        {% for d in buildings %}

        <tbody>



            <td>{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.latitude}}</td>
            <td>{{d.latitude}}</td>
            <td>{{d.address}}</td>
            <td>{{d.email}}</td>
            <!-- <td><img src="{{ MEDIA_URL }}{{c.image}}" alt={{c.image}} /></td> -->
        </tbody>

        {% endfor  %}



      </table>

      <a href="/">Return to home page.</a>

    </div>
  </body>

</html>
