<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Device List </title>

  </head>

  <body>

    <h1>The List of Devices</h1>

    {% load static %}


    <div class="">

      <table border="1" class="table table-striped table-bordered table-hover table-condensed">

        <thead>

          <th> <b>Device ID</b> </th>

          <th> <b>Zone</b>  </th>

          <th> <b>building</b> </th>

          <!-- <th> <b>Image</b> </th> -->
        </thead>

        {% for d in devices %}

        <tbody>



            <td>{{d.id}}</td>

            <td>{{d.zone.name}}</td>

            <td>{{d.building.name}}</td>
            <!-- <td><img src="{{ MEDIA_URL }}{{c.image}}" alt={{c.image}} /></td> -->
        </tbody>

        {% endfor  %}



      </table>

      <a href="/">Return to home page.</a>

    </div>
  </body>

</html>
